.how-to-container{
    height: 350px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 40px;
    padding: 0;
    .h3{
        font-size: 26px;
        margin-bottom: 10px;
        background: none;
        box-shadow: none;

        &:hover{
            background: none;
        }
    }
    li{
        border-radius: 15px;
        background: whitesmoke;
        box-shadow: 5px 5px 5px lightgrey;
        padding: 25px;
        gap: 20px;
        list-style: none;
        display: flex;

        &:hover{
            background: #E9D3FF;
        }
    }
}

.how-to-child i{
    color: #9356DC;
}
.how-to-child {
    

    .number{
        position: absolute;
        text-align: center;
        width: 18px;
        height: 18px;
        border: 1px solid #9356DC;
        background-color: #9356DC;
        color: white;
        border-radius: 100%;
        margin-left: -35px;;
    }
}
