.restaurants-flex-container{
    padding: 30px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}
.restaurant-card{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    /* border: 4px solid red; */
    height: 250px;
    box-shadow: 5px 5px 5px 5px lightgrey;
}
.card-details{
    object-fit: cover;
    display: flex;
    flex-direction: column;
}
.restaurant-image{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 75%;
}
.restaurant-details{
    margin-left: 10px;
    a{
        text-decoration: none;
        color: black;
        font-size: 20px;
    }
}
.rest-details-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.heart{
    font-size: 20px;
    padding: 10px;
    // border: 5px solid pink;
}
// .heart i::before{
//     content: attr(data-text); 
//     position: absolute; 
//     // top: 0; 
//     // left: 0; 
//     color: linear-gradient(#FF79DA,#9356DC);
//     overflow: hidden;
//     width: 0%; 
//     transition: 1s;  
// }
// .heart i:hover::before{
//     width: 100%;
// }