
.dish{
    position: relative;
    $checkmark-width: 120px;

    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 5px 5px 5px lightgrey;
    height: 80px;
    width: 100%;
    background-color: white;
    overflow-x: hidden;

    p{
        padding: 3px;
    }
    h2{
        padding: 3px;
    }
    
    &:hover{
        .name-and-description{
            max-width: calc(100% - 117px);
        }
        .price-and-checkmark{
            transform: translateX(0);
        }
        .checkmark-box i{
            transform: rotate(0);
        }
    }
}

.name-and-description{
    margin: 5px;
    max-width: calc(100% - 22px);
    transition: max-width 1s;

    h2{
        font-family: 'robotobold';
        font-weight: 500;
        font-size: 20px;
    }

    p{
        font-family: 'robotobold';
        color: grey;
        font-weight: 300;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.price-and-checkmark{
    width: 120px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;

    display: flex;
    transform: translateX(80px);
    transition-property: transform;
    transition-duration: 1s;
    background-color: #99E2D0;


    .price{
        position: relative;
        display: flex;
        align-items: end;
        background-color: white;
        width: 50px;
    }

    .checkmark-box{
        display: flex;
        justify-content: center;
        width: 100px;
        i{
            font-size: 30px;
            align-self: center;
            transform: rotate(180deg);
            transition-property: transform;
            transition-duration: 1s;
        }
    }

}

